@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body {
    font-family: Chelsea Market;
    background-image: url(./images/back.jpg);
}
#intro, #player-form {
    background: linear-gradient(180deg, rgba(113,169,179,1) 7%, rgba(179,164,164,1) 32%, rgba(113,169,179,1) 53%);
    border: solid 10px;
    text-align: center;
    width: 500px;
    margin: auto;
}
#intro {
    margin-bottom: 10px;
}
#player-form {
    padding: 10px;
    width: 480px;
}
::placeholder {
    font-family: Chelsea Market;
}
input[type=text] {
    width: 170px;
    border: none;
}